<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<array>
		<dict>
			<key>seq</key>
			<integer>0</integer>
			<key>serviceCode</key>
			<string>PS02</string>
			<key>title</key>
			<string>전자결재</string>
			<key>img</key>
			<string>icon_main_01.png</string>
			<key>iPadImg</key>
			<string>icon_main_01_iPad.png</string>
			<key>badgeSeq</key>
			<string>edmsBadgeCount</string>
			<key>thumbImg</key>
			<string>icon_navi_sign.png</string>
			<key>titleImg</key>
			<string>txt_navi_sign.png</string>
			<key>url</key>
			<string>https://medms.ktis.co.kr/approvalsso.aspx?ssotype=HCG</string>
		</dict>
		<dict>
			<key>seq</key>
			<integer>1</integer>
			<key>serviceCode</key>
			<string>PS03</string>
			<key>title</key>
			<string>메일</string>
			<key>img</key>
			<string>icon_main_02.png</string>
			<key>iPadImg</key>
			<string>icon_main_02_iPad.png</string>
			<key>badgeSeq</key>
			<string>mailBadgeCount</string>
			<key>thumbImg</key>
			<string>icon_navi_email.png</string>
			<key>titleImg</key>
			<string>txt_navi_email.png</string>
			<key>url</key>
			<string>https://mmail.ktis.co.kr/mobile/account/login_sso.do</string>
		</dict>
		<dict>
			<key>seq</key>
			<integer>2</integer>
			<key>serviceCode</key>
			<string>PS04</string>
			<key>title</key>
			<string>e-HR</string>
			<key>img</key>
			<string>icon_main_03.png</string>
			<key>iPadImg</key>
			<string>icon_main_03_iPad.png</string>
			<key>badgeSeq</key>
			<string>hrBadgeCount</string>
			<key>thumbImg</key>
			<string>icon_navi_hr.png</string>
			<key>titleImg</key>
			<string>txt_navi_hr.png</string>
			<key>url</key>
			<string>https://mehr.ktis.co.kr</string>
		</dict>
		<dict>
			<key>seq</key>
			<integer>3</integer>
			<key>serviceCode</key>
			<string>PS01</string>
			<key>title</key>
			<string>영업지원</string>
			<key>img</key>
			<string>icon_main_04.png</string>
			<key>iPadImg</key>
			<string>icon_main_04_iPad.png</string>
			<key>badgeSeq</key>
			<string></string>
			<key>thumbImg</key>
			<string>icon_navi_sales.png</string>
			<key>titleImg</key>
			<string>txt_navi_sales.png</string>
			<key>url</key>
			<string>https://mehr.ktis.co.kr?directpage_type=business_menu</string>
		</dict>
		<dict>
			<key>seq</key>
			<integer>4</integer>
			<key>serviceCode</key>
			<string>PS05</string>
			<key>title</key>
			<string>조직도</string>
			<key>img</key>
			<string>icon_main_05.png</string>
			<key>iPadImg</key>
			<string>icon_main_05_iPad.png</string>
			<key>badgeSeq</key>
			<string></string>
			<key>thumbImg</key>
			<string>icon_navi_structure.png</string>
			<key>titleImg</key>
			<string>txt_navi_structure.png</string>
			<key>url</key>
			<string>https://mehr.ktis.co.kr?directpage_type=org_search</string>
		</dict>
		<dict>
			<key>seq</key>
			<integer>5</integer>
			<key>serviceCode</key>
			<string>PS06</string>
			<key>title</key>
			<string>커뮤니티</string>
			<key>img</key>
			<string>icon_main_06.png</string>
			<key>iPadImg</key>
			<string>icon_main_06_iPad.png</string>
			<key>badgeSeq</key>
			<string>noticeBadgeCount</string>
			<key>thumbImg</key>
			<string>icon_navi_notice.png</string>
			<key>titleImg</key>
			<string>txt_navi_notice.png</string>
			<key>url</key>
			<string>https://mmail.ktis.co.kr/mobile/account/login_sso.do?mode=comunity</string>
		</dict>
	</array>
	<key>linkMenu</key>
	<array>
        <dict>
            <key>seq</key>
            <integer>0</integer>
            <key>title</key>
            <string>홈페이지</string>
            <key>link</key>
            <string>http://ktis.co.kr/v2/</string>
            <key>img</key>
            <string>icon_main_link_03.png</string>
        </dict>
        <dict>
            <key>seq</key>
            <integer>1</integer>
            <key>title</key>
            <string>복지포인트</string>
            <key>link</key>
            <string>http://ktis.ibene.co.kr/login/ibene/eXanadoPointInfo.jsp?memID=</string>
            <key>img</key>
            <string>icon_main_link_05.png</string>
        </dict>
        <dict>
            <key>seq</key>
            <integer>2</integer>
            <key>title</key>
            <string>앱스토어</string>
            <key>link</key>
            <string>https://app.ktis.co.kr/app/</string>
            <key>img</key>
            <string>icon_main_link_04.png</string>
        </dict>
        <dict>
            <key>seq</key>
            <integer>3</integer>
            <key>title</key>
            <string>올레한마음</string>
            <key>link</key>
            <string>http://olleh114.ktis.co.kr</string>
            <key>img</key>
            <string>icon_main_link_02.png</string>
        </dict>
        <dict>
            <key>seq</key>
            <integer>4</integer>
            <key>title</key>
            <string>CB-CRM</string>
            <key>link</key>
            <string>http://cbcrm.ktis.co.kr</string>
            <key>img</key>
            <string>icon_main_link_01.png</string>
        </dict>	</array>
</dict>
</plist>
